html {
     background-image: url("bats.gif");

}

.header {
    font-family: sans-serif;
    border-bottom: 5px solid black;
    background-image: linear-gradient(to right, white, orange, black);
    padding-top: 10px;
}



body {
    font-family: sans-serif;
    width:800px;
    background-color: white;
    border:4px solid black;
    box-shadow: 5px 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2::first-letter {
     font-size:200%;
}

img {
    float: left;
}

h1 {
    text-indent: 30px;
    font-size:250%
}

h3 {
    font-size: 150%
}

a {
    color: orange;
    font-weight: bold;
}

a:hover {
    color: green;
}

li {
    margin: 0 0 10px 0;
}

footer {
    border-top: 5px solid black;
    background-image: linear-gradient(to left, white, orange, black);
    text-align: center;
    padding-bottom: 12px;
}

.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  margin-top: 180px;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}


